<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

    <ul class="nav nav-tabs">
        <li class="nav nav-tabs"><a href="/Game">Single Player</a></li>
        <li><a href="/Multiplayer">Multi-Player</a></li>
        <li><a href="/History">History</a></li>
    </ul>

<p>Your Hand${Name}</p>
    <div align="center">
        <img src="assets/Images/cards/${card1}.png" height="200" width="120">
        <img src="assets/Images/cards/${card2}.png"height="200" width="120">
        <img src="assets/Images/cards/${card3}.png"height="200" width="120">
        <img src="assets/Images/cards/${card4}.png"height="200" width="120">
        <img src="assets/Images/cards/${card5}.png"height="200" width="120">

    </div>


    <a href="/Logout">Logout</a>

</@layout.myLayout>