<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <ul class="nav nav-tabs">
        <li class="nav nav-tabs"><a href="/Game">Single Player</a></li>
        <li><a href="/Multiplayer">Multi-Player</a></li>
        <li><a href="/History">History</a></li>
    </ul>






    <div align="center">
        <img src="assets/Images/cards/${card1}.png" height="200" width="120">
        <img src="assets/Images/cards/${card2}.png"height="200" width="120">
        <img src="assets/Images/cards/${card3}.png"height="200" width="120">
        <img src="assets/Images/cards/${card4}.png"height="200" width="120">
        <img src="assets/Images/cards/${card5}.png"height="200" width="120">

    </div>
    <h3>Your Hand${Name}</h3>

    <div align="center">
        <img src="assets/Images/cards/${card11}.png" height="200" width="120">
        <img src="assets/Images/cards/${card12}.png"height="200" width="120">
        <img src="assets/Images/cards/${card13}.png"height="200" width="120">
        <img src="assets/Images/cards/${card14}.png"height="200" width="120">
        <img src="assets/Images/cards/${card15}.png"height="200" width="120">

    </div>
    <h3>Your Hand${Name2}</h3>

    <div align="center">
        <img src="assets/Images/cards/${card21}.png" height="200" width="120">
        <img src="assets/Images/cards/${card22}.png"height="200" width="120">
        <img src="assets/Images/cards/${card23}.png"height="200" width="120">
        <img src="assets/Images/cards/${card24}.png"height="200" width="120">
        <img src="assets/Images/cards/${card25}.png"height="200" width="120">

    </div>
    <h3>Your Hand${Name3}</h3>

    <div align="center">
        <img src="assets/Images/cards/${card31}.png" height="200" width="120">
        <img src="assets/Images/cards/${card32}.png"height="200" width="120">
        <img src="assets/Images/cards/${card33}.png"height="200" width="120">
        <img src="assets/Images/cards/${card34}.png"height="200" width="120">
        <img src="assets/Images/cards/${card35}.png"height="200" width="120">

    </div>
    <h3>Your Hand${Name4}</h3>

    <div align="center">
        <img src="assets/Images/cards/${card41}.png" height="200" width="120">
        <img src="assets/Images/cards/${card42}.png"height="200" width="120">
        <img src="assets/Images/cards/${card43}.png"height="200" width="120">
        <img src="assets/Images/cards/${card44}.png"height="200" width="120">
        <img src="assets/Images/cards/${card45}.png"height="200" width="120">

    </div>
    <p>Your Hand${Name5}</p>

    <div align="center">
        <h1>Strongest hand is ${Strong}</h1>

    </div>






    <a href="/Logout">Logout</a>

</@layout.myLayout>