<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Register page">

    <script type="text/javascript"src="/assets/webjars/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/Myscript.js"></script>
    <form action="/GameRegister" method="post">
    <fieldset>
        <div class="jumbotron">
            <h1><span class="label label-default">Registration Information</span></h1>

        </div>
        <label>Username</label>
        <input type="text" name="UserName" value="">
        <br>

        <label>Password</label>
        <input type="text" id="password" name="Password" value=""> <label id="Dit"></label>
        <span id="result"></span>
        <br><br>
        <input type="submit" value="Register"></fieldset>


    <div class="alert alert-danger" role="alert">${Name}</div>

</form>
</@layout.myLayout>
