<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Select Players page">
    <script type="text/javascript"src="/assets/webjars/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/Myscript1.js"></script>

    <ul class="nav nav-tabs">
        <li class="nav nav-tabs"><a href="/Game">Single Player</a></li>
        <li><a href="/Multiplayer">Multi-Player</a></li>
        <li><a href="/History">History</a></li>
    </ul>

    <form action="/GameLobby" method="post">




    <div class="form-group">


        <br>
        <label>Game</label>
        <input type="text" id="GameName" name="GameName" value="">
        <br><br>


        <input type="submit" value="Host Game"></fieldset>
    </div>
    </form>

    <#noescape>${games}</#noescape>


    <a href="/Logout">Logout</a>

</@layout.myLayout>